<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>작성</title>
</head>
<body>

<h2>방명록 작성</h2>

<form action="/guestbook/write" method="post">
    <div>
        작성자: <input type="text" name="author">
    </div>

    <div>
        내용:<br>
        <textarea name="content"></textarea>
    </div>

    <button type="submit">저장</button>
</form>

<a href="/guestbook">목록 보기</a>

</body>
</html>